/backend/data/json/disable_51job_job_data.json
/backend/data/json/disable_51job_job_data.json
/backend/data/json/51job_major_data.json
/backend/data/json/51job_major_data.json
/backend/data/json/51job_major_detail.json
/backend/data/json/51job_major_detail.json
/backend/data/json/51job_major_status.json
/backend/data/json/51job_major_status.json
/backend/data/logs/app_20260320.log
/backend/data/logs/app_20260321.log
/backend/data/db/job_data.db
/backend/data/db/job_data.db
/backend/data/db/jobs.db
/backend/data/db/jobs.db
/backend/data/db/majors.db
/backend/data/db/majors.db
/backend/data/json/recommend_major.json
